@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.elevate {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  letter-spacing: 1px;
  text-shadow: 3px 4px 7px #224142;
}